.card {
  padding-top: 0px;
}

.title {
  text-align: center;
  color: rgb(125, 151, 173);
  margin-top: 0px;
  padding: 40px 0;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;

    .title {
      padding-top: 0px;
    }
  }

  .talks {
    .talk {
      box-shadow: 0 0 15px 0 rgba(46,61,73,.15);
      background: #fff;
      border: 1px 0px 1px 0px solid #dbe2e8;
      padding-bottom: 0px !important;
      margin-bottom: 40px;

      .talk-content {
        padding: 0 24px;
      }
    }
  }
}

.talks {
  .talk {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    
    .talk-title {
      color: #7d97ad;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 17px;
      letter-spacing: .1em;
    }

    .tags {
      color: grey;
      font-size: .8em;
      margin-bottom: 10px;
    }

    .description {
      color: #666;
      font-size: .9em;
      text-align: justify;

      &>p:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    .links {
      margin-bottom: 10px;
      .link {
        font-size: .8em;
        &:after {
          content: ' • '
        }
        &:last-of-type:after {
          content: ''
        }

        a {
          // &.visited, &.hover, &.link, &.active {
            text-decoration: none;
            color: #8a8a8a;
          // }
        }
      }
    }
    hr {
      width: 100%;
      height: 0px;
      border: 0;
      border-top: 1px solid #ece9e9;
      margin: 1em 0;
      padding: 0;
    }
    .details {
      color: #666;
      font-size: .8em;
    }

    // .map {
    //   width: 190px;

      sebm-google-map {
        width: 140px;
        height: 140px;
        margin-right: 64px;
      }
    // }
    @media screen and (max-width: 600px) {
      // .map {
      //     width: 100%;
      //     margin: 20px -16px -16px -16px !important;
      // }
      sebm-google-map {
        width: 100% !important;
        height: 200px !important;
        margin-top: 20px;
        // margin: 20px -16px -16px -16px !important;
      }
    }
  }
}