<div class="card">
  <h1 class="title">Conferences</h1>
  <div class="description">
    <p>As one of the GDG Paris lead, I take part in the organization of monthly meetups as well as bigger events.<br />
      I also regularly speak at conferences in Europe. If you’d like me to join yours, please contact me and we can discuss further.</p>

    <!--<p>Please note: I prefer to speak at Angular-specific conferences. Thank you :)</p>-->
  </div>
  <div class="photos" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
    <img fxFlex="25" src="/assets/photos/conf6-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf1-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf3-2-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf4-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf5-2-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf2-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf7-square.jpg" />
    <img fxFlex="25" src="/assets/photos/conf8-square.jpg" />
  </div>
  <div  *ngIf="futureConferences?.length > 0">
    <h1 class="title">Future events</h1>
    <ul class="conferences">
      <li *ngFor="let conference of futureConferences" class="conference">
        <div>
          <ul class="roles">
            <li *ngFor="let role of conference.roles" class="role" [ngClass]="role">[{{role}}]</li>
          </ul>
          <a [href]="conference.link" class="host" target="_blank">{{conference.name}}</a>
          <span class="talk" *ngIf="conference.talk"> • {{conference.talk.title}}</span>
        </div>
        <div class="infos">
          <span class="location">{{conference.location.name}}</span>
          •
          <span class="date">{{conference.date}}</span>
        </div>
      </li>
    </ul>
  </div>
  <h1 class="title">Past events</h1>
  <ul class="conferences">
    <li *ngFor="let conference of pastConferences" class="conference">
      <div fxLayout="row">
        <div>
          <ul class="roles">
            <li *ngFor="let role of conference.roles" class="role" [ngClass]="role">[{{role}}]</li>
          </ul>
          <a [href]="conference.link" class="host" target="_blank">{{conference.name}}</a>
          <span class="talk" *ngIf="conference.talk && conference.talk.title"> • {{conference.talk.title}}</span>
        </div>
        <div fxFlex></div>
        <a *ngIf="conference.talk && conference.talk.video" [href]="conference.talk.video" target="_blank" title="See video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
      </div>
      <div class="infos">
        <span class="location">{{conference.location.name}}</span>
        •
        <span class="date">{{conference.date}}</span>
      </div>
    </li>
  </ul>
</div>