<div class="card">
  <h1 class="title">Lifelong learning</h1>
  <div class="description">
    <p>I graduated from college years ago with good technical skills. However, I believe there is so much more to learn. Nowadays, MOOC platforms such as edX exist and allow us to learn absolutely everything.</p> 
    <p>Since I discovered Udacity and especialy edX, I spend hours discovering new domains, even if they are not related to my line of work</p>
  </div>
  <div>
  <div>
    <div *ngFor="let domain of skills" class="domain">
      <div class="domain-title">
        {{domain.title}}
      </div>
      <div *ngFor="let university of domain.universities">
        <div class="university-header" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="university-title">
            {{university.skills[0].title}}
          </div>
          <div class="university" fxLayout="row" fxLayoutAlign="center center">
            <div class="university-name">
              {{university.name}}
            </div>
            <div class="image">
              <img class="logo" [src]="university.icon_url" />
            </div>
          </div>
        </div>
        <div *ngFor="let skill of university.skills">
          <div class="courses-list" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap="wrap">
            <div *ngFor="let course of skill.courses" class="flex-card" fxLayout="column" fxLayoutAlign="start center" fxFlex="50" fxFlex.xs="100">
              <img *ngIf="course.icon_url" [src]="course.icon_url" />
              <i *ngIf="course.icon" class="{{course.icon}} fa-3x" aria-hidden="true" ></i>
              <div class="course-title">
                {{course.title}}
              </div>
              <div class="course-description">
                {{course.description}}
              </div>
              <div class="course-links">
                <div *ngFor="let link of course.links" class="link">
                  <a [href]="link.link">{{link.title}}</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div *ngFor="let domain of skills" class="card">
  <div class="title">
    {{domain.title}}
  </div>

  <div *ngFor="let university of domain.universities">
    <div class="header">
      <div class="title">
        {{university.skills[0].title}}
      </div>
      <div class="university">
        <div class="name">
          {{university.name}}
        </div>
        <div class="image">
          <img class="logo" [src]="university.icon_url" />
        </div>
      </div>
    </div>
    <div *ngFor="let skill of university.skills">
      <div class="courses-list">
        <div *ngFor="let course of skill.courses" class="flex-card">
          <img *ngIf="course.icon_url" [src]="course.icon_url" />
          <i *ngIf="course.icon" class="{{course.icon}} fa-3x" aria-hidden="true" ></i>
          <div class="title">
            {{course.title}}
          </div>
          <div class="description">
            {{course.description}}
          </div>
          <div class="links">
            <div *ngFor="let link of course.links" class="link">
              <a [href]="link.link">{{link.title}}</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->