.card {
  padding-top: 0px;
}

.title {
  text-align: center;
  color: rgb(125, 151, 173);
  margin-top: 0px;
  padding: 40px 0;
}

.description {
  line-height: 1.5em;
  margin-bottom: 24px;
}

.domain {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;

  .domain-title {
    color: #7d97ad;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 17px;
    letter-spacing: .1em;
  }
}

.university-header {
  margin-bottom: 17px;

  .university-title {
    font-size: 1.2em;
    color: #2e3d49;
    font-weight: 600;
    letter-spacing: .1em;
  }
  .university {
    .university-name {
      color: #8a8a8a;
    }
    img {
      width: 50px;
      height: auto;
      padding-left: 10px;
    }
  }
}

.courses-list {
  .course-title {
    font-weight: 300;
    margin-bottom: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #444;
    text-align: center;
  }

  .course-description {
    color: #666;
    margin: 10px 0;
    text-align: justify;
    font-size: .9em;
  }
}

.flex-card {
  padding: 14px;

  i {
    color: #62C370;
    margin-bottom: 25px;
  }

  .red {
    color: #c3626e !important;
  }

  img {
    height: 70px;
    width: auto;
    margin-bottom: 25px;
  }
  .link a {
    color: #428bca;
    text-decoration: none;
  }
}
