<header class="header flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="section-800" fxLayout="row">
    <img src="/assets/images/avatar.jpg" />
    <div fxFlex class="infos" fxLayout="column" fxLayoutAlign="center start" fxHide.xs>
      <div class="tagline">
        Hi! I'm Olivier, and I am looking forward to see what is going to amaze me today.
      </div>
      <div>
        <a href="https://twitter.com/olivierleplus" class="twitter-follow-button" data-lang="en" data-show-count="false"></a>
      </div>
    </div>
  </div>
</header>
<nav class="nav" fxLayout="row" fxLayoutAlign="center center">
  <div class="section" fxLayout="row" fxFlex fxLayoutAlign="space-around center" fxLayout.xs="column">
    <a href="#">About</a>
    <a routerLink="/conferences" routerLinkActive="active">Conferences</a>
    <a routerLink="/talks" routerLinkActive="active">Talks</a>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
  </div>
</nav>
<main class="content">
  <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="section" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>