:root {
  --main-bg-color: rgba(135,55,123,1);
}

html {
  background: #f6f9fa;
  font-family: 'Nunito Sans', sans-serif;

}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(82, 92, 101);
}

* {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header .header__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: .85;
}


.section--gradient {
  color: #fff;
  padding: 120px 0;
  background: #00ff9b;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00ff9b',endColorstr='#003eff');
  background: -webkit-linear-gradient(305deg,#00ff9b 0%,#003eff 100%);
  background: linear-gradient(145deg,#00ff9b 0%,#003eff 100%);
}

.container {
  max-width: 1040px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 10;
  z-index: 1;
}

.container__margin-top {
  margin-top: 120px;
}

.container__margin-bottom {
  margin-bottom: 120px;
}


.bg-primary {
  background-color: var(--main-bg-color);
}

.no-padding {
  padding: 0;
}

.radius-corners {
  border-radius: 8px;
}
.top-left-radius-corner {
  border-top-left-radius: 8px;
}
.top-right-radius-corner {
  border-top-right-radius: 8px;
}
.bottom-left-radius-corner {
  border-bottom-left-radius: 8px;
}
.bottom-right-radius-corner {
  border-bottom-right-radius: 8px;
}

.bio {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(63,66,83,.1);
  position: relative;
}

.bio:after {
  content: 'Next events';
  position: absolute;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  bottom: -9px;
  left: 50%;
  background: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  /* color: rgba(63,66,83,.7); */
  color: rgb(42, 187, 179);
  letter-spacing: 3px;
  text-align: center;
}
/* MAIN */
.main {
  /* margin-top: -250px; */
}

/* Card */
.card {
  background: #fff;
  border-radius: 8px;
  padding: 30px 0;
}

.shadow {
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.1);
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.shadow__img {
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0,0,0,.2));
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,.2));
}

.section__title {
  font-size: 32px;
  color: #3f4253;
  text-align: center;
  width: 100%;
}


.heading {
  text-align: center;
  margin-bottom: 80px;
}

.heading__text {
  font-size: 18px;
  margin-top: 20px;
  color: rgba(63,66,83,.7);
}

.header .badge {
  max-width: 70px;
}

.badge {
  max-width: 250px;
  width: 80%;
}

.badge--description {
  font-size: 16px;
  /* color: rgba(63,66,83,.7); */
  line-height: 26px;
  /* padding: 0 20px; */
}

#more-conferences {
  border: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
}

.conferences {
  margin: 0;
  padding: 0;
  list-style: none;
  
  position: relative;
}

.conferences--small {
  max-height: 550px;
  overflow-y: hidden;
}

.conferences .conference {
  display: block;
  padding: 0 30px;
  position: relative;
}

.conference.roadshow, .conference.recaptour, .conference.awsontour {
  border-left: solid 3px orange;
  padding-left: 27px;
}

/* .roadshow + .conference:not(.roadshow):before {
  content: '#MSDevRoadShow';
  display: inline-block;
  transform: rotate(270deg);
  color: orange;
  position: absolute;
  top: -75px;
  left: -80px;
} */

.roadshow:has(+ li:not(.roadshow)):before {
  content: '#MSDevRoadShow';
  position: absolute;
  transform: rotate(270deg);
  color: orange;
  left: -85px;
  bottom: 70px;
}

/* .recaptour + .conference:not(.recaptour):before {
  content: 'AWS re:Cap Tour';
  display: inline-block;
  transform: rotate(270deg);
  color: orange;
  position: absolute;
  top: -75px;
  left: -80px;
} */

.recaptour:has(+ li:not(.recaptour)):before {
  content: 'AWS re:Cap Tour';
  position: absolute;
  transform: rotate(270deg);
  color: orange;
  left: -78px;
  bottom: 63px;
}
/* .awsontour + .conference:not(.awsontour):before {
  content: 'AWS On Tour';
  display: inline-block;
  transform: rotate(270deg);
  color: orange;
  position: absolute;
  top: -75px;
  left: -65px;
} */

.awsontour:has(+ li:not(.awsontour)):before {
  /* background-color: red !important; */
  content: 'AWS On Tour';
  position: absolute;
  transform: rotate(270deg);
  color: orange;
  left: -65px;
  bottom: 45px;
}

.conferences .conference:last-child {
  border-bottom: none;
}

/* .conference.roadshow .label + .conference:not(.roadshow) .label{
  background-color: green;
  float: left;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  margin-left: -27px;
  color: orange;
} */
/* .conference.roadshow .conference-container {
  padding-left: 20px;
} */

.conferences .conference-container {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.conferences__overlay {
  position:absolute;
  bottom:0;
  left: 0;
  right:0;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  z-index: 5;
}

.conference .roles {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.conference .host {
  text-decoration: none;
  color: #6f7679;
}

.conference .host:hover {
  color: #00e195;
}

.conference .soon {
  color: #ff2626;
}

.conference .role {
  display: inline-block;
}

.conference .role.speaker {
  color: #039dc7;
}
.conference .role.panellist {
  color: #7603c7;
}
.conference .role.organizer {
  color: #02ccba;
}
.conference .role.host {
  color: #bc04c7;
}
.conference .role.jury {
  color: #bc04c7;
}
.conference .role.mentor {
  color: #f9a408;
}

.conference .infos {
  color: #6f7679;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
}

.conference .fa-video {
  color: #e49e9e;
}

.conference .talks {
  margin-top: 5px;
}

.conference .talks .talk {
  margin-bottom: 5px;
  /* list-style-type:none */
}

.conference .talks .talk:last-child {
  margin-bottom: 0;
}

.contacts i {
  font-size: 20px;
  text-shadow: 0 4px 8px rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.contacts {
  padding: 30px;
}

.contacts a {
  text-decoration: none;
  color: #fff;
}

#social-links {
  margin: 50px 0;
}
.section--gradient .section__title {
  color: #fff;
}

.section--gradient .heading__text {
  color: rgb(238, 238, 238);
}

.contacts a:hover i {
  color: #04fe9b;
}
/* 
.videos .video-container {  
  margin-bottom: 2em;
}

.videos .video {
  display: block;
  padding: 0 20px;
  box-sizing: border-box; 
  text-decoration: none;
}

.videos .video img {
  border-radius: 8px;
}

.videos .video .video-thumbnail img {
  width: 100%;
}

.videos .video .video-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 10px 0 8px;
  transition: color .2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.videos .video .video-description {
  font-size: 14px;
  color: rgb(238, 238, 238);
  margin: 0;
}

.videos .video .video-description span {
  margin: 0 10px;
} */

.bounce {
  color: #29d1a2;
  margin-top: 50px;
  animation: bounce .5s infinite alternate;
  -webkit-animation: bounce .5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.link {
  font-size: 16px;
  text-decoration: none;
}

.line {
  margin-bottom: 20px;
}

/* Flexbox */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.col-2>div {
  width: 50%;
}

.col-3>div {
  width: 33.33%
}

.col-4>div {
  width: 25%;
}

/* .videos>div {
  width: 100%;
}

@media (min-width: 575.98px) {
  .videos>div {
    width: 50%;
  }
}

@media (min-width: 767.98px) { 
  .videos>div {
    width: 33.33%;
  }
} */

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

/* WAVES */

.waves {
  position: absolute;
}
path.a {
  fill: var(--primary-color);
  opacity: 0.53;
}
path.b {
  fill: var(--secondary-color);
  opacity: 0.3;
}
path.c {
  fill: var(--tertiary-color);
  opacity: 0.4;
}
svg.background-wave--header {
  overflow: visible;
  position: absolute;
  top: 0;
  z-index: 0;
}

.wave-1 {
  animation: wave-1 5s ease-in-out infinite alternate;
}
.wave-2 {
  animation: wave-2 10s ease-in-out infinite alternate;
}
.wave-3 {
  animation: wave-3 5s ease-in-out infinite;
}
.wave-4 {
  animation: wave-4 5s ease-in-out infinite alternate;
}
.wave-5 {
  animation: wave-5 10s ease-in-out infinite alternate;
}
.wave-6 {
  animation: wave-6 5s ease-in-out infinite alternate;
}

@keyframes wave-1 {
  to {
    transform: translateY(45px);
  }
}
@keyframes wave-2 {
  to {
    transform: translateY(40px);
  }
}
@keyframes wave-3 {
  from {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(40px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes wave-4 {
  to {
    transform: translateX(-10px);
  }
}
@keyframes wave-5 {
  to {
    transform: translateX(100px);
  }
}
@keyframes wave-6 {
  to {
    transform: translateX(80px);
  }
}