#videos {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

.category {
    padding: 0 1em;
    margin-bottom: 2em;
}

.category h2 {
    padding: .83em 0 .83em 8px;
    color: #fff;
}

.videos .video-item {
    margin: 0px 8px 50px 8px;
    width: 320px;
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    /* border-radius: 12px; */
    /* background: #fff; */
    /* color: #3a3a3a; */
    color: #fff;
}

.videos a.video-item {
    text-decoration: none;
}

.videos .video-item .video-thumbnail {
    position: relative;
    transition: transform .25s;
}

.videos .video-item .video-thumbnail img {
    border-radius: 12px;
    box-shadow: 0px 15px 22px 1px #2c2c2c94;
}


.videos .video-item .video-thumbnail:hover {
    transform: scale(1.05);
}

.videos .video-item .video-duration {
    background-color: #4a73f5;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: .5em;
    right: .5em;
    padding: 2px 6px;
    font-size: .75em;
    box-shadow: 0px 0px 5px 1px white;
}

.videos .video-item .video-title {
    margin: .5em 0 .5em 0;
}
.videos .video-item .video-description {
    margin: 0;
    font-size: .9rem;
    color: #d8d8d8;
}

.videos .video-item .event-name {
    font-weight: bold;
}

.videos .video-item .video-details {
    padding: 0.2rem 0.5rem;
    margin-top: 1rem;
    /* justify-content: space-between; */
}
